nav.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 10px;
}


.imglogo, .imgtext {
  max-width: 70px; /* Adjust as needed */
  height: auto;
}

.imglogo img, .imgtext img {
  width: 100%;
  height: auto;
}

.imgtext {
  display: flex;
  align-items: center; /* Vertically align the items in the center */
  max-width: 150px; /* Adjust as needed */
  height: auto;
}

.imgtext img {
  width: 100%;
  height: auto;
}

.search-bar {
  flex-grow: 1;
  margin: 0 1em; 
}

.search-bar input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

menu {
  display: flex;
  gap: 1ch;
}

menu li {
  list-style: none;
  font-size: small;
}

menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px;
}

menu a:hover {
  text-decoration: none;
}