.aboutus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start; 
  position: relative; 
}

.aboutus-header {
  max-width: 50%; 
  font-size: 25px;
  line-height: 2.2em;
  position: relative; 
  background-color: white;
  z-index: 1; 
  
}

.aboutus-header::after {
  content: '';
  position: absolute;
  right: -50%; 
  top: 0;
  bottom: 0;
  width: 50%; 
  background-color: white;
  z-index: 0; 
}

.aboutus-image {
  margin-top: 120px;
  width: 90%; 
  position: relative; 
  z-index: 2; 
}

.aboutus-image img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.aboutmetext {
  text-align: center;
  padding-left: 20px; /* Adjusted to a reasonable value */
  padding-right: 20px;
  margin: 0 auto; /* Center the text block if needed */
  max-width: 80%; /* Optional: Restrict the maximum width of the text block */
}
