.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add margin for spacing */
  margin-top: 80px;
}

.imgFullLogo {
  max-width: 500px; /* Adjust the width as needed */
  margin-right: 20px; /* Add margin to separate the logo from the random shoe */
}

.random-shoe-link {
  text-decoration: none;
  color: inherit;
}


.random-shoe-container {
  display: flex; /* Use flexbox to align items */
  align-items: center; 
  margin-top: 20px;

  .random-shoe-image {
    max-width: 500px; /* Set a max width for the image */
    margin-right: 10px; /* Add margin to separate the image from text */
  }

  .random-shoe-details {
    text-align: left;
  }

  .brand, .price {
    margin: 0;
  }
}
