
a:hover {
  text-decoration: none; /* Removes underline on hover */
  text-decoration-color: black;
}
.header-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  width: 100%; /* Take full width of the parent container */
  margin-bottom: 20px;
  margin-top: 80px
}

.imgFullLogo {
  max-width: 550px; 
  max-height: auto; 
  margin-left: 70px; 
  margin-right: 100px;
  padding-left: 20px;
}


.random-shoe-link {
  text-decoration: none;
  color: inherit;
}

.random-shoe-section {
  display: flex;
  align-items: center;
}

.random-shoe-container {
  overflow: hidden;
  background-color: #ffffff;
  width: auto; 
  height: 300px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc; 
  border-radius: 8px; /* Add some border-radius for rounded corners */
  box-shadow: 6px 6px 5px  rgba(250, 0, 0, 0.2); /* Example of a shadow */

}
.random-shoe-text {
  margin-left: 20px; /* Space between image and text */
  text-align: center;
  width: 350px; /* Adjusted width */
}

.random-shoe-text .brand, .random-shoe-text .price {
  height: auto;
  width: 100%; /* Make text take full width of its container */
  font-size: 40px;
  word-wrap: break-word; /* Ensures text breaks to prevent overflow */
}

.random-shoe-image {
 height: auto;
 width: 300px;
 margin-left: 50px;
}

.random-shoe-details {
  text-align: left;
}

.brand, .price {
  margin: 0;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Increase the size of the arrow */
  color: #333; /* Change the color as needed */
}

.nav-button.back-button {
  margin-right: 20px;
}

.nav-button.next-button {
  margin-left: 20px;
}


.brand-container {
  border: 1px solid #ddd; /* Border around all brands */
  background-color: #f8f8f8; /* Add a light background color */
}

.brand-links {
  width: 100%;
  display: flex;
  flex-direction: row; /* Align items in a row */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of items */
  width: 100%;
  border: 3px solid #7e7e7e; /* Border around each brand */
  border-radius: 8px; /* Add some border-radius for rounded corners */
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.brand-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-left: 15px;
  margin-bottom: 20px; /* Spacing between each brand */
  padding: 10px; /* Padding for each brand box */
  box-shadow: 6px 6px 5px rgba(250, 0, 0, 0.2); /* Example of a shadow */
  border-radius: 10px; /* Rounded corners */
  background-color: #fff; /* Background color for each brand box */
}


.brand-link img {
  max-width: 200px;
  height: auto;
  margin-bottom: 8px;
}

.brand-link span {
  font-size: 14px;
  text-align: center;
}

h2 {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-family: monospace;
  font-size: 30px;
}
.items-container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 0.5rem;
}
