.single-item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .item-details {
    max-width: 400px;
    padding: 20px;

    .item-brand {
      font-size: 24px;
      font-weight: bold;
    }

    .item-category {
      font-size: 18px;
      margin-top: 8px;
    }

    .item-size {
      font-size: 20px;
      margin-top: 8px;
    }

    .size-range {
      font-size: 16px;
      margin-top: 8px;
    }

    p {
      font-size: 16px;
      margin-top: 8px;
    }

    .addtocartbutton {
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      margin-top: 16px;

      &:hover {
        background-color: #2980b9;
      }
    }
  }

  .item-image {
    max-width: 300px;
    height: auto; 
    
  }
}

.recommended-items {
  margin-top: 40px;

  h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .recommended-item {
    display: inline-block;
    margin-right: 20px;
    padding: 2%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.20);
      text-decoration: none;
      border: .05px solid #00000036; 
    }

    img {
      max-width: 86px;
      height: auto;
    }

    p {
      font-size: 15px;
      margin-top: 8px;
      text-align: center;
      
    }
  }
}
